{% extends "parent.html" %}
{% block main %}
<h1 class="mt-5" style="text-align: center;text-decoration: underline;font-weight: bold;">About Marc Laboratories</h1>
    <p style="text-align: center;color: rgb(77, 77, 77);font-size: 20px;">India’s Best Digital Ayurvedic Pharmacy</p>
<div class="container-sm mt-5">
    <h2>THE ORIGIN OF MARCCURE</h2>
    <p style="font-size: 18px;text-align: justify;color: rgb(77, 77, 77);">Only for you,<b>India’s topmost medicine manufacturer, Marc Lab </b>has launched the <b>MarcCure</b>. Why do we do so? Because <b>people need quality ayurvedic treatment </b> for their health issues. We have gained <b> 35+ years of experience in medicine manufacturing</b>. Hence, we decided to <b>develop ayurvedic medicines </b> and offer them to you through <b>MarcCure: India’s best ayurvedic medicine online store.</b> Our <b>ayurvedic supplements are FSSAI approved.</b> Some products are manufactured with <b>CSIR and CDRI</b>. Our ayurvedic medicines are certified by <b>Ayush Ministry</b> and other <b> government authorities</b> too.</p>
     <p style="font-size: 18px;text-align: justify;color: rgb(77, 77, 77);">Marc Laboratories Pvt. Ltd. is privately held pharmaceutical companies in India, headquartered at Lucknow, in the state of Uttar Pradesh.</p>
     <p style="font-size: 18px;text-align: justify;color: rgb(77, 77, 77);">Over the last three decades, it has been developing and manufacturing pharmaceutical products and selling and distributing these in India. An integrated healthcare solutions provider with pharmaceutical product basket, it caters to a wide range of therapeutic areas that include orthopaedic, gynaecology, cardiovascular, gastrointestinal, analgesics, haematinics, anti-infectives, antibiotics, and antidiabetics and immunologicals. The company focuses on providing high quality, appropriately priced products to its customers. Marc Laboratories has a multilingual workforce of more than thousand employees.</p>
     <p style="font-size: 18px;text-align: justify;color: rgb(77, 77, 77);">The company has Manufacturing establishments in Baddi, Himachal Pradesh and Gurgaon, Haryana.</p>
     <p style="font-size: 18px;text-align: justify;color: rgb(77, 77, 77);">The company has state-of-the-art manufacturing facilities conforming to the most stringent international WHO-GMP norms. Spread over Two Lac sq.ft. of land, Marc Laboratories' manufacturing facility at Baddi, Himachal Pradesh is the cynosure of all eyes, well equipped with world-class production facilities.</p>
     <p style="font-size: 18px;text-align: justify;color: rgb(77, 77, 77);">A responsible corporate conscious of its duty towards various sections of the society; Marc Laboratories nurtures young talents and believes in bringing talent to its best.</p>
</div>
<div class="row pt-4 provide bg-danger">
<h1 style="color: white;text-align: center;">What We Provide?</h1>
</div>
<div class="row">
    <div class="col-sm-3"><i class="fa-regular fa-circle-check text-danger mt-4 mb-2" style="font-size: 50px;display: inline-block;margin-left: 40%;"></i>
        <h3 style="text-align: center;">Quality Assured</h3>
        <div class="container-sm">
            <p style="text-align:justify;color: rgb(77, 77, 77);">All products displayed on MarcCure are licensed, self-manufactured, authentic, 100% certified, reliable, and clinically approved.</p>
        </div>
    </div>
    <div class="col-sm-3"><i class="fa-brands fa-expeditedssl text-danger mt-4 mb-2" style="font-size: 50px;display: inline-block;margin-left: 40%;"></i>
    <h3 style="text-align: center;">Secure</h3>
    <div class="container-sm">
        <p style="text-align:justify;color: rgb(77, 77, 77);">MarcCure uses Secure Sockets Layer (SSL) 128-bit encryption and is Payment Card Industry Data Security Standard (PCI DSS) compliant.</p>
    </div>
    </div>
    <div class="col-sm-3"><i class="fa-regular fa-handshake text-danger mt-4 mb-2" style="font-size: 50px;display: inline-block;margin-left: 40%;"></i>
    <h3 style="text-align: center;">Affordable</h3>
    <div class="container-sm">
        <p style="text-align:justify;color: rgb(77, 77, 77);">Enjoy attractive offers on ayurvedic medicines and products at affordable prices and customer demand, suitable to everyone’s pocket.</p>
    </div>
    </div>
    <div class="col-sm-3"><i class="fa-solid fa-truck text-danger mt-4 mb-2" style="font-size: 50px;display: inline-block;margin-left: 40%;"></i>
    <h3 style="text-align: center;">Fast Delivery</h3>
    <div class="container-sm">
        <p style="text-align:justify;color: rgb(77, 77, 77);">Delivering orders according to the requirements and within time. Providing online tracking, trace status with delivery confirmation.</p>
    </div>
    </div>
</div>
{% endblock main %}